<div class="mx-3 mt-2">
    <goback-button></goback-button>
</div>

<div class="text-center mt-5">
    <h2>
        Settings
    </h2>
</div>
<div class="container mt-5">
    <div class="row justify-content-around">
        <span class="border rounded col-md-4">
            <div class="text-center">
                <h3>Account</h3>
            </div>
            <updateProperties-form></updateProperties-form>
        </span>
        <span class="border rounded col-md-4">
            <div class="text-center">
                <h3>Change password</h3>
            </div>
            <changePassword-form class="changePassword"></changePassword-form>
        </span>
    </div>
</div>