<form action="password">
  <div class="col-md-5">
    <label for="oldPassword">Old Password</label>
    <input [(ngModel)]="oldPassword" #oldPasswordForm="ngModel" type="password" class="form-control" placeholder="Your old  Password">
    <label for="password">Password</label>
    <input [(ngModel)]="newPassword" #newPasswordForm="ngModel" type="password" class="form-control mb-1" placeholder="New Password" required="" pattern="([\s\S]{6,100})">
    <input [(ngModel)]="repeatPassword" #repeatPasswordForm="ngModel" type="password" class="form-control" placeholder="Repeat new Password">
  </div>
  <div class="alerts col-md-5">
    <alert-fail [hidden]="newPasswordForm.valid || newPasswordForm.untouched" [message]="'New password Incorrect'" id="alertIncorrect"></alert-fail>
    <alert-fail [hidden]="newPassword == repeatPassword" [message]="'Passwords must match'" id="alertMuthed"></alert-fail>
    <alert-fail [hidden]="newPassword != oldPasswordForm || oldPasswordForm.untouched" [message]="'The new password is the same as the old one'" id="alertMuthed"></alert-fail>
  </div>
  <button (click)="changePassword()" class="button" class="btn btn-primary mt-2" id="changePasswordBtn">Change password</button>
  <div class="col-md-5 mt-3" id="alertMessages">
  </div>
</form>