<form action="properties">
  <div class="text-center">
    <h3>Account</h3>
  </div>
  <div class="mb-2">
    <label for="inputEmail4">Email Address</label>
    <input [(ngModel)]="updatedUserInfo.EmailAddress" #updatedEmail="ngModel" type="email" class="form-control"
      id="inputEmail4" placeholder="Email" name="EmailAddress" required=""
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
    <alert-fail [hidden]="updatedEmail.valid || updatedEmail.empty || updatedEmail.untouched"
      [message]="'Incorrect email'"></alert-fail>
  </div>
  <div class="mb-2">
    <label for="telegram">Telegram</label>
    <input [(ngModel)]="updatedUserInfo.Telegram" type="text" class="form-control" placeholder="Telegram login"
      name="Telegram">
  </div>
  <div class="mb-2">
    <label for="name">Name</label>
    <input [(ngModel)]="updatedUserInfo.Name" #updatedUsername="ngModel" type="text" class="form-control"
      placeholder="Name" name="Username">
  </div>
  <button (click)="updateUserInfo()" type="button center" class="btn btn-primary mt-2 mb-1">Save</button>
  <div id="propertyServerAlerts">
  </div>
</form>