<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar">
    <div class="logo-details">
        <i class='logo'>
            <link rel="icon" type="image/x-icon" href="/src/assets/images/logo.png" />
        </i>
        <div class="logo_name">AofA Group</div>
        <i class='bx bx-menu' id="btn" (click)="menuBtnChange()"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/controlpanel" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a routerLink="messages">
                <i class='bx bx-chat'></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a routerLink="analytics">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li>
            <a routerLink="finance" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Finance</span>
            </a>
            <span class="tooltip">Finance</span>
        </li>
        <li>
            <a routerLink="settings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="profile.jpg" alt="profileImg">
                <div class="name_job" style="margin-left: 10%;">
                    <div class="name">{{userinfoservice.username}}</div>
                    <div class="job">User</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>