<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="logo" href="/">AofA Group</a>
    <!-- кнопка раскрывающая сайтбар в случае если экран маленький -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- конец этой кнопки -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">
                <a class="nav-link" href="/contacts" id="Home">Contacts</a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="/login" id="Login">Login</a>
            </li>
        </ul>
    </div>
</nav>